@import url(../runo/styles.css);

/* Main application background */
.v-app {
	background: white;
}
	
/* Set the amount of horizontal cell spacing in a
 * specific element with the "-spacing" style. */
.v-horizontallayout-spacing .v-horizontallayout-spacing-on {
    padding-left: 10px;
}

/* Set the amount of vertical cell spacing in a
 * specific element with the "-spacing" style. */
.v-verticallayout-spacing .v-verticallayout-spacing-on {
    padding-top: 10px;
}

/* Set the amount of both vertical and horizontal cell spacing
 * in a specific element with the "-spacing" style. */
.v-gridlayout-spacing .v-gridlayout-spacing-on {
    padding-left: 10px;
}

.v-accordion-item-caption{
	background: #d5dee2 url(img/selected-bg.png);
	font-size: 12px;
}

.v-table-row-disabled{
    color: #FF0000;
}

.v-button-playlist-create{
	margin-top: 10px;
	margin-bottom: 10px;
}

.v-button-playlist-create .v-button-caption{
	font-style:italic;		
}

.v-label-right-align{
	text-align: right;	
}